@import '@fontsource/noto-sans-kr/700';
@import '@fontsource/noto-sans-kr/300';

html, body {
  background-color: #f0f0f0;
  overflow: hidden;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}
